<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head ::head}"></head>
<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="~{fragments/navbar :: nav}"></header>

    <section th:each="route: ${allRoutes}" class="road">
        <img th:src="${route.pictureUrl}" alt="Title image">
        <div>
            <h2 th:text="${route.name}"></h2>
            <p th:text="${route.description}"></p>
            <a href="/" class="btn">Learn More</a>
        </div>
    </section>
</div>
<!-- Wrapper Ends -->
</body>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</html>